
body{
    /*background-color: rgb(27, 26, 26);*/
    background: rgb(0,109,215);
    padding: 2rem;

}
.login-form{
    width: 500px;
    margin: 50px auto;
    font-size: 15px;
}
.login-form form{
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 5px 5px 8px 7px rgb(84 84 84 / 27%);
    padding: 30px;
    border-radius: 10px;
}
.login-form h1{
    margin-bottom: 80px;
    font-weight: 600;
    color:  rgb(27, 26, 26);
}
nav{
    display: none !important;
}
footer{
    display: none !important;
}
.alert{
    margin: auto;
    width: 500px;
}